.table{
	width: 1120px;
}

.table td{
	border: 1px solid #f00;
	text-align: center;
	cursor: pointer;
	width: 140px;
	padding: 10px;
	word-break: break-all;
	height: 50px;
}

.selected{
	background: #ff0;
}

.blind{
	display: none;
}

.center{
	text-align: center;
}

.table-header{
	margin-bottom: 0;

}

/* .table-header th{
	border-top: 0;
	text-align: center;
	background: #efefef;
	color: #666;
} */